* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header{
  display: flex;
  background-color: grey;
}
/* Sets the flexbox and css for the header */
.left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 20%;
  background-color: pink;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 89%;
  flex-wrap: wrap;
}

.nav a{
  padding: 20px;
  text-decoration: underline pink solid 5px;
}


/* Sets the flexbox and css for the hero-banner */
.hero-banner{
  display: flex;
  background-image: url("../images/02-hero-bg.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
}

.subtitle{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 50px;
}

.subtitle h2{
  display: flex;
  background-color: beige;
  padding: 10px;
}

/* Sets the flexbox and css for the main content ie about me, work and contact */
.page-wrapper{
  display: flex;
  flex-direction: column;
  flex: wrap;
}

/* Becomes more specfic and adds basic css to each flexbox container */
.page-section{
  margin: 50px;
  background-color: white;
}


.contact{
  margin: 20px;
  padding: 100px;
  background-color: blue;
}

/* flexbox and css for the about me section */
.about-me{
  display: flex;
}

.about-header{
  border-right: 5px solid pink;
  flex-basis: 20%;
}

.about-content{
  margin-left: 20px;
  font-size: 18px;
  flex-basis: 80%
}

.see-more{
  font-size: 25px;
}

/* flexbox and css for the portfolio section */
.portfolio{
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}

.portfolio-header{
  display: flex;
  border-right: 5px solid pink;
  flex-basis: 20%; 
}

/* Sets up the grid for projects to go into */
.portfolio-content{
  flex-basis: 80%;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-rows: 250px 250px 250px 250px;
  grid-template-columns: 575px 575px;
  grid-template-areas: 
  "projectOne projectOne"
  "projectOne projectOne"
  "projectTwo projectThree"
  "projectFour projectFive";
}

/* Sets the grid area name and background image for portfolio project */

#projectOne{
  grid-area: projectOne;
  background-image: url("../images/02-portfolio-1.jpg");
}

#projectTwo{
  grid-area: projectTwo;
  background-image: url("../images/02-portfolio-2.jpg")
}

#projectThree{
  grid-area: projectThree;
  background-image: url("../images/02-portfolio-3.jpg")
}

#projectFour{
  grid-area: projectFour;
  background-image: url("../images/02-portfolio-4.jpg")
}

#projectFive{
  grid-area: projectFive;
  background-image: url("../images/02-run-buddy.jpg")
}

.projectContent{
  margin: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid pink;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  cursor: pointer;
}

.projectHeading{
  display: flex;
  background-color: rgba(255,192,203,0.7);
  padding: 5px;
  width: 150px;
  color: white;
  font-size: 20px;
}

.content-align{
  display:flex;
  flex-direction: column;
}

/* Media queries for screen size */
@media screen and (max-width: 1250px) {
  .about-me{
    display: flex;
    flex-wrap: wrap;
  }
  .about-header{
    border-bottom: 5px solid pink;
    border-right: none;
  }
}